* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 5vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    margin-top: 40px;
    margin-left: 100px;
}

h2 {
    font-size: 3vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-left: 100px;
}

.mainCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 580px;
    border: 1px solid black;
    margin: 40px 20px 20px 20px;
    overflow: scroll;
}

#catImg {
    width: 298px;
    height: 300px;
}

#catName {
    font-size: 4vmin;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0 0 20px ;
}

#catDescription {
    font-size: 2vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    
}